@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
.bg-azure {
  background-color: #F0F8FF;
}


body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
.odd-button {
  border-radius: 4px;
  background: #2A253A; 
  color: #fff; 
  padding: 8px 0px;
  display: 'flex';
  justify-content: 'center';
  align-items: 'center';
  gap: '16px';
  flex: '1 0 0';
}
.button-custom {
  width: 220px;
  height: 36px;
  padding: 0;
  flex-shrink: 0;
  border-radius: 8px;
  background-color: #ADD8E6;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  cursor: pointer;
}

